<form (ngSubmit)="onSubmit()" #form="ngForm">
    <label>Initial investement : </label>
    <input type="number" name="inital_investement" [(ngModel)]="inital_investement" />
    <br/>
    <label>Annual investement : </label>
    <input type="number" name="annual_investement" [(ngModel)]="annual_investement" />
    <br/>
    <label>Expected Return : </label>
    <input type="number" name="expected_return" [(ngModel)]="expected_return" />
    <br/>
    <label>Duration : </label>
    <input type="number" name="duration" [(ngModel)]="duration" />
    <br/>
    <button type="submit" (click)="onSubmit()">Calculate</button>
</form>
