<form>
    <label>Initial investment</label>
    <input type="number" name="initial_investment" [(ngModel)]="initial_investment"/>

    <label>Annual investment</label>
    <input type="number" name="annual_investment" [(ngModel)]="annual_investment"/>

    <label>Expected return</label>
    <input type="number" name="expected_return" [(ngModel)]="expected_return"/>

    <label>Duration</label>
    <input type="number" name="duration" [(ngModel)]="duration"/>

    <button type="submit" (click)="onsubmit()">Calculate</button>
</form>